@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1DA1F2;
  --secondary-color: #14171A;
  --background-start: #ffffff;
  --background-end: #f7f9fa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

b {
  font-weight: 500;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.theme-x {
  background: linear-gradient(to bottom, var(--background-start), var(--background-end));
  color: var(--secondary-color);
}
